@page "/viewer/{entityId?}"
@inject MagBlazor.Data.IFDataService db
@using MagBlazor.Data
@using Data
@using OAData.Adapters
@using FactorgaphyTTree.Components

<PageTitle>Viewer</PageTitle>

<h1>Viewer</h1>
<TTreeEditor ttrees="@(new TTree[]{currentRecord})"> </TTreeEditor>
@foreach (var inverse in inverses)
{
    <h3>@Utils.GetOntLabel(inverse.Pred)</h3>
    var sources = ((TITree)inverse).Sources;
    <TTreeEditor ttrees="@sources"></TTreeEditor>
}


@code {
    [Parameter]
    public string entityId { get; set; }

    private TTree currentRecord;

    private TGroup[] inverses = null;
    TRecordBuilder recordBuilder;

    protected override void OnInitialized() // = On Page Load
    {
        if (entityId != null)
        {
            TRecordBuilder recordBuilder = new TRecordBuilder((UpiAdapter)db.GetAdapter(), db.ontology);
            currentRecord = recordBuilder.BuildTRecord(entityId);
            inverses = currentRecord.Groups.Where(gr => gr is TITree).ToArray();
            Utils.InitUtils(db);

        }
    }

    protected override void OnParametersSet()
    {
        OnInitialized();
    }

}
