@page "/"

<div style="font-size:large;">
    <NavLink href="/view">View</NavLink>
</div>
<div style="font-size:large;">
    <NavLink href="/edit">Edit</NavLink>
</div>
<div style="font-size:large;">
    <NavLink href="/gene">Родословная</NavLink>
</div>
