@page "/"

<div style="font-size:large;">
    <NavLink href="/view">View</NavLink>
</div>
<div style="font-size:large;">
    <NavLink href="/edit">Edit</NavLink>
</div>
<div style="font-size:large;">
    <NavLink href="/gene">Родословная</NavLink>
    <NavLink href="/gene/famwf1233_1001">Марчук Г.И.</NavLink>
</div>
<div style="font-size:large;">
    <a href="/combine">Отождествление и слияние</a>
</div>
